---
import PageHeader from "../components/PageHeader.astro";
import MapWithDescription from "../components/MapWithDescription.astro";
import PageFooter from "../components/PageFooter.astro";
import EventSlider from "../components/EventSlider.astro";

import HomePagePosts from "../components/Blog/HomePagePosts.astro";

import BannerEvents from "../components/BannerEvents.astro";
import { playlists, morePlaylists } from "../lib/data";

import EventsTable from "../components/EventsTable.astro";
import EventsTableSorteos from "../components/EventsTableSorteos.astro";
import EventCategories from "../components/EventCategories.astro";
import Ticker from "../components/Ticker.astro";
import TickerSorteos from "../components/TickerSorteos.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
  <div
    id="playlist-container"
    class="relative transition-all duration-1000 bg-context"
    style="min-height:300px;--context-color:#000000;"
  >
    <PageHeader />

    <section class="text-center py-24 bg-black relative">
      <div class="absolute inset-0 w-full z-10 bg-black opacity-50"></div>
      <img
        src="../assets/images/banner/banner.jpg"
        alt="Background Image"
        class="absolute inset-0 w-full h-full object-cover opacity-40"
      />
      <div class="relative z-10 max-w-4xl mx-auto">
        <h1
          class="text-5xl md:text-6xl lg:text-7xl font-bold text-customYellow"
        >
          MUY PRONTO LLEGARA A SEVILLA
        </h1>
        <p
          class="mt-4 text-sm md:text-base lg:text-lg text-gray-300 max-w-3xl mx-auto"
        >
          Este año, la segunda edición de "La Sonrisa Festival" se celebrará en
          el encantador espacio del Huerto del Rey Moro, un lugar comunitario en
          el corazón de Sevilla. Este evento será una jornada llena de alegría,
          solidaridad, y compromiso con una causa muy especial: salvar a la
          protectora de animales LASA.
        </p>
        <p
          class="mt-4 text-sm md:text-base lg:text-lg text-gray-300 max-w-3xl mx-auto"
        >
          ¿En qué consiste? "La Sonrisa Festival" es un evento benéfico
          organizado con el objetivo de recaudar fondos para la protectora de
          animales LASA. La protectora enfrenta una gran deuda veterinaria, y
          sin la ayuda económica necesaria, no podrá continuar con su invaluable
          labor de rescatar y cuidar a animales en situación de abandono. Este
          evento es una oportunidad para que toda la comunidad se una y aporte
          su granito de arena para que LASA pueda seguir brindando una segunda
          oportunidad a estos animales.
        </p>
        <div class="mt-8 flex justify-center space-x-4">
          <a
            href="/contact"
            class="bg-customYellow text-black py-2 px-6 hover:bg-customYellowHover"
            >REGISTRATE!!</a
          >
        </div>
      </div>
      <!-- Thumbnails -->
      <div class="px-6 relative z-10 mt-12 max-w-7xl mx-auto">
        <div class="flex flex-wrap mt-6 gap-4">
          {
            morePlaylists.map((playlist) => (
              <BannerEvents playlist={playlist} />
            ))
          }
        </div>
      </div>
    </section>

    <Ticker />

    <EventCategories />

    <MapWithDescription />

    <TickerSorteos />

    <section class="text-center py-24 bg-black relative">
    <EventsTableSorteos />
    </section>

    <PageFooter />
  </div>
</Layout>
