<section class="text-center py-24 bg-black relative">
      <div class="absolute inset-0 w-full z-10 bg-black opacity-50"></div>
      <div class="relative z-10 w-full bg-gradient-to-br from-black via-gray-900 to-yellow-900 rounded-xl shadow-lg p-10 border border-yellow-700/30">
      <h1 class="text-5xl md:text-6xl lg:text-7xl font-extrabold text-customYellow drop-shadow-lg mb-6 tracking-tight">
        ¿Cómo puedes ayudar?
      </h1>
      <p class="mt-4 text-base md:text-lg lg:text-xl text-gray-200 leading-relaxed max-w-3xl mx-auto">
        Tu apoyo es esencial para que este evento sea un éxito y podamos ayudar a LASA a superar su situación crítica. Aquí te contamos cómo puedes colaborar:
      </p>
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
        <div class="flex flex-col items-center p-6 bg-gray-900/80 rounded-xl shadow-lg border border-yellow-700/30 hover:shadow-xl transition-shadow duration-300">
        <div class="mb-4">
          <svg class="w-12 h-12 text-customYellow" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16 21v-2a4 4 0 00-8 0v2M12 11a4 4 0 100-8 4 4 0 000 8zm6 8a6 6 0 10-12 0v2a2 2 0 002 2h8a2 2 0 002-2v-2z" />
          </svg>
        </div>
        <h3 class="text-2xl font-bold text-customYellow mb-2">Regístrate</h3>
        <p class="text-base text-gray-200 text-center">
          Únete al evento registrándote para recibir información sobre las actividades y formas de colaborar.
        </p>
        </div>
        <div class="flex flex-col items-center p-6 bg-gray-900/80 rounded-xl shadow-lg border border-yellow-700/30 hover:shadow-xl transition-shadow duration-300">
        <div class="mb-4">
          <svg class="w-12 h-12 text-customYellow" fill="currentColor" viewBox="0 0 32 32">
            <title>plus-user</title>
            <path d="M2.016 28q0 0.832 0.576 1.44t1.408 0.576h14.016v-0.352q-1.792-0.608-2.912-2.176t-1.088-3.488q0-2.016 1.184-3.584t3.072-2.112q0.384-1.216 1.216-2.176t2.016-1.504q0.512-1.376 0.512-2.624v-1.984q0-3.328-2.368-5.664t-5.632-2.336-5.664 2.336-2.336 5.664v1.984q0 2.112 1.024 3.904t2.784 2.912q-1.504 0.544-2.912 1.504t-2.496 2.144-1.76 2.624-0.64 2.912zM18.016 24q0 0.832 0.576 1.44t1.408 0.576h2.016v1.984q0 0.864 0.576 1.44t1.408 0.576 1.408-0.576 0.608-1.44v-1.984h1.984q0.832 0 1.408-0.576t0.608-1.44-0.608-1.408-1.408-0.576h-1.984v-2.016q0-0.832-0.608-1.408t-1.408-0.576-1.408 0.576-0.576 1.408v2.016h-2.016q-0.832 0-1.408 0.576t-0.576 1.408z"></path>
          </svg>
        </div>
        <h3 class="text-2xl font-bold text-customYellow mb-2">Participa</h3>
        <p class="text-base text-gray-200 text-center">
          Asiste al evento y disfruta de todas las actividades mientras contribuyes con tus compras a la causa.
        </p>
        </div>
        <div class="flex flex-col items-center p-6 bg-gray-900/80 rounded-xl shadow-lg border border-yellow-700/30 hover:shadow-xl transition-shadow duration-300">
        <div class="mb-4">
          <svg class="w-12 h-12 text-customYellow" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path fill="none" d="M10.025 9c-.551 0-1.022-.448-1.022-1V6.414L4.417 11l4.586 4.586V14a1 1 0 0 1 .868-.991 15.064 15.064 0 0 1 1.975-.133c3.577 0 6.204 1.331 7.858 2.55C18.14 9.201 10.936 9 10.025 9z"></path>
            <path d="M11.003 7.054V4a1 1 0 0 0-1.707-.707l-7 7a.999.999 0 0 0 0 1.414l7 7A.999.999 0 0 0 11.003 18v-3.096c.284-.02.565-.029.843-.029 5.426 0 8.239 3.572 8.362 3.73a.996.996 0 0 0 1.113.343 1 1 0 0 0 .682-.948c0-9.124-8.086-10.681-11-10.946zm.843 5.821c-.647 0-1.312.045-1.975.133a1.001 1.001 0 0 0-.868.992v1.586L4.417 11l4.586-4.586V8c0 .552.471 1 1.022 1 .91 0 8.114.201 9.679 6.425-1.654-1.218-4.281-2.55-7.858-2.55z"></path>
          </svg>
        </div>
        <h3 class="text-2xl font-bold text-customYellow mb-2">Difunde</h3>
        <p class="text-base text-gray-200 text-center">
          Comparte la información sobre el evento con tus amistades, familiares, y en tus redes sociales. Cuantas más personas asistan, mayor será el impacto que podremos lograr en la unión.
        </p>
        </div>
      </div>
      </div>
    </section>