  <section class="text-center py-24 bg-black relative">
      <div class="absolute inset-0 w-full z-10 bg-black opacity-50"></div>
      <div class="relative z-10 w-full bg-gradient-to-br from-black via-gray-900 to-yellow-900 rounded-xl shadow-lg p-10 border border-yellow-700/30">
      <h1 class="text-5xl md:text-6xl lg:text-7xl font-extrabold text-customYellow drop-shadow-lg mb-6 tracking-tight">
        Nuestra Ubicación
      </h1>
      <p class="mt-4 text-base md:text-lg lg:text-xl text-gray-200 leading-relaxed max-w-3xl mx-auto">
        Encuéntranos en el corazón de Sevilla, en el encantador espacio del <span class="text-yellow-400 font-semibold">Huerto del Rey Moro</span>. Este lugar comunitario es perfecto para disfrutar de un evento lleno de solidaridad y compromiso.
      </p>

  <div class="mt-8">
    <iframe
      class="w-full h-96 rounded-lg shadow-lg border-4 border-yellow-400"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3169.83671910695!2d-5.97952462360007!3d37.39369353401949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126eaf3c0df413%3A0x1290bfc03df98125!2sParque%20Agumore!5e0!3m2!1ses!2ses!4v1758366966164!5m2!1ses!2ses%22%20width=%22600%22%20height=%22450%22%20style=%22border:0;%22%20allowfullscreen=%22%22%20loading=%22lazy%22%20referrerpolicy=%22no-referrer-when-downgrade"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>