---
import Icon from "astro-icon";
---

<div
  class="relative z-10 py-6 px-6 flex items-center justify-between"
  transition:name="page header"
  transition:persist
>
  <div class="flex items-center gap-2">
    <a
      href="/"
      aria-label="Ir a la página principal"
      class="flex items-center gap-2 text-2xl font-bold text-white"
    >
      <img src="../assets/images/Logo/LOGO_NEGATIVO.png" alt="Logo Negativo" class="h-14 w-14 dark:inline-block" />
      <span>LA SONRISA FESTIVAL</span>
    </a>
  </div>
  <nav class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
    <ul class="flex space-x-8">
      <li><a href="/ediciones" class="hover:text-customYellow">Ediciones</a></li>
      <li><a href="/lasa" class="hover:text-customYellow">LASA</a></li>
      <li><a href="/festival" class="hover:text-customYellow">Colaboradores</a></li>
      <li><a href="/contact" class="hover:text-customYellow">Únete</a></li>
    </ul>
  </nav>
  <div class="items-center flex justify-between w-full md:w-auto">
    <div class="flex space-x-4">
      <a
      target="_blank"
      aria-label={"Instagram"}
      href="https://instagram.com/lasonrisafestival"
      class="text-gray-200 hover:text-white"
    >
      <Icon name="mdi:instagram" class="h-7 w-7" />
    </a>
    <a
      target="_blank"
      aria-label={"Linkedin"}
      href="https://www.linkedin.com/in/sonrisa-festival-428235239"
      class="text-gray-200 hover:text-white"
    >
      <Icon name="mdi:linkedin" class="h-7 w-7" />
    </a>
    <a
      target="_blank"
      aria-label={"Correo electrónico"}
      href="mailto:lasonrisademayo@gmail.com"
      class="text-gray-200 hover:text-white"
    >
      <Icon name="mdi:at" class="h-7 w-7" />
    </a>
    </div>   
  </div>
</div>